body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    cursor: pointer;
}

#repoContainer {
    margin-top: 20px;
}

.repo {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .repo {
    border-color: #666;
}

#pagination {
    margin-top: 20px;
}
